---
name: Ruby Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: read
      issues: write
      pull-requests: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup ruby
        uses: ruby/setup-ruby@e69dcf3ded5967f30d7ef595704928d91cdae930 # v1.285.0
        with:
          bundler-cache: true

      - name: Run rspec
        env:
          COVERAGE: true
        run: |
          bundle exec rspec

      - name: Report coverage to GitHub
        uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0
        if: github.event_name == 'pull_request' || github.ref == 'refs/heads/main'
